*{
    font-family: 'wendy';
    letter-spacing: 1.4px;
    /* font-size: 18px; */
}
.form-group input, .form-group input:focus, .form-group input:hover, .form-group input:active, .form-group select, .form-group select:focus, .form-group select:hover, .form-group select:active {
    width: 100%;
    padding: 10px;
    color: #333;
    border: none;
    border-color: transparent;
    border-bottom: 1px solid #333;
    background: transparent;
    position: relative;
}

.form-group input:not(:placeholder-shown), .form-group select {
    color: #7d7d7d !important;
}

main{
    justify-items: center;
    align-items: center;
    align-content: center;
    display: flex;
    height: 100vh;
}

.login{
    align-items: center;
    background-color: #fffffff2;
    box-shadow: 10px 10px 2px #000000d1;
    color: #333;
    display: flex;
    flex-direction: column;
    font-size: 23px;
    font-family: sans-serif;
    font-weight: bold;
    justify-content: center;
    max-width: 530px;
    min-height: 500px;
    padding: 15px;
    width: 70%;
    z-index:999;
}

.login header img{
    height: 60px;
}

.login h3{
    padding: 30px 0;
}

.content{
    min-height: 100vh;
    width: 100%;
    padding: 57px 0;
    /* background: #72cbd1;
    background: -moz-linear-gradient(140deg, #55c798  20%, #4660e1  80%);
    background: -webkit-linear-gradient(140deg,#55c798  20%, #4660e1  80%);
    background: linear-gradient(140deg, #55c798  20%, #4660e1  80%); */
    background-image: url(../../img/background-login.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b3bfb8",endColorstr="#7e8d85",GradientType=1); */
    margin-bottom: -250px;
}

#login,
#register{
    margin: 25px 0;
    width: 70%;
}

#login label,
#register label{
    color: #7d7d7d;
    font-size: 23px;
}
#login input,
#register input{

    border-color: #a0a0a0;
    border-radius: 0;
}
.pass{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}
.pass label{
    grid-column: span 3;
}

.pass input{
    grid-column: span 2;
}
.reveal-pass,
.combine-result{
    grid-column: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.reveal-pass i,
.combine-result i{
    color: #7d7d7d;
    cursor: pointer;
    font-size: 18px;
}
#login #login-invited{
    cursor: pointer;
}

#login-invited{
    color: #7ac061;
    font-size: 20px;
}

#login-invited a{
    color: #f15d40;
}

section form p a {
    font-size: 0.7em;
    text-decoration: none;
}
section form h4 span, section form a {
    color: #fff;
}
section form a:hover {
    text-decoration: underline;
}

.btn-green {
    align-items: center;
    background-color: #7ac061;
    border-radius: 0;
    color: #fff!important;
    display: flex;
    font-size: 25px;
    justify-content: center;
    padding: 5px;
    transition: .3s all ease-out;
    width: 100%;
}
.btn-green:hover{
    scale: 1.1;
}

.btn-green img{
    filter: brightness(0) invert(1);
    margin-left: 10px;
}


input::-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: -internal-light-dark(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) !important;
    color: -internal-light-dark(black, white) !important;
}

@media screen and (max-width: 767px) {
    .login{
        width: 100%;
    }
    .login header img{
        height: 50px;
    }
    

}